<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lottery New Year</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>

        <div class="wrapper">
            <div class="item">
                <div class="digit1">1</div>  
                <div class="digit2">2</div>  
                <div class="digit3">3</div>  
                <div class="digit4">4</div> 
            </div>
        </div>

        <div class="hidden">
            
        </div>

        <button>
            <a target="_blank">Spin</a>
        </button>
        
        
    
    </body>
</html>